*.pyc
*.pdf
*.o
*.so
CLibrary/build
*.csv
*.mat
Gait Model/*.mat
Run Data/*/*.csv
Run Data/*/*.png
Run Data/*/*/*.png
Run Data/*/*/*/*.png
*.eps


## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc

